
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-white">

<app-layout></app-layout>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-list"></i> Nouvelle  réservation 1/2</b></h5>
      </header>
    <br>
  
    <div class="horizontal-group">
       
       
        <div class="form-group left">
            <label for="firstname" class="label-title" name="filter" style="margin-left: 20px;">Filtre:</label>
            <select name="select" class="form-input" name="filter" required="required" >
                <option  class="form-input"  value = "elarabibrams">El arabi brams 5</option> 
                <option  class="form-input"  selected value = "foot5">Foot 5</option> 
                <option  class="form-input" value = "kickoff">Kick off</option>
                <option  class="form-input" value = "ledome">Le dome</option> 
                <option  class="form-input" value = "maracana">Maracana</option>
                <option  class="form-input" value = "menaraAcademy">Menara academy</option> 
                <option  class="form-input" value = "palmarena">Palm arena</option> 
                <option  class="form-input" value = "psg">PSG</option>
                <option  class="form-input" value = "urbain5">Urbain 5</option> 
                <option  class="form-input" value = "victoria">Vitoria</option>
                </select>
        </div>
<br>
<h5 style="margin-left: 20px;">Date du match:</h5>  
        <iframe src="https://calendar.google.com/calendar/embed?src=bcl28ogp8duqi001qkejoh1huc%40group.calendar.google.com&ctz=Africa%2FCasablanca" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"  style="margin-left: 200px; height: 400px; border: 3px solid rgb(10, 147, 226);; padding: 15px 25px;"></iframe>
        <br><br><br>
        <label for="firstname" class="label-title" name="filter" style="margin-left: 20px; ">choix du terrain:</label><br><br>
        <select name="select" class="form-input" name="filter" required="required" >
            <option  class="form-input" selected value = "terrain1Intérieur">Terrain 1 Intérieur</option> 
            <option  class="form-input"  value = "terrain2Intérieur">Terrain 2 Intérieur</option> 
            </select>
       
       <br><br>
       <button class="btn">valider</button><br><br>
  

   
     



</div>
 </div>            



</body>
