
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-white">

<app-layout></app-layout>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-list"></i> Nouvelle réservation 1/1</b></h5>
      </header>
    <br>
  
    <div class="horizontal-group">
        <div class="form-group left">
            <label type="text" style="margin-left: 20px; background: white;  font-size: 20px;" ><i class="fa fa-map-marker"></i> PSG</label>
          
        </div>
<br>
<label for="firstname" class="label-title" name="filter" style="margin-left: 20px; ">Type de match :</label><br><br>
<select name="select" class="form-input" name="filter" required="required" >
    <option  class="form-input" selected value = "5 vs 5">5 VS 5</option> 
    <option  class="form-input"  value = "7 vs 7">7 VS 7</option> 
    <option  class="form-input" value = "11 vs 11">11 VS 11</option>
    </select>
<br><br>
    <label for="firstname" class="label-title" name="filter" style="margin-left: 20px; ">Niveau du match :</label><br><br>
    <select name="select" class="form-input" name="filter" required="required" >
        <option  class="form-input" selected value = "débutant">Débutant</option> 
        <option  class="form-input"  value = "intermédiaire">Intermédiaire</option> 
        <option  class="form-input" value = "confirmé">Confirmé</option>
        </select>

        <br><br>
        <label for="firstname" class="label-title" name="filter" style="margin-left: 20px; ">Visibilité du match:</label><br><br>
        <select name="select" class="form-input" name="filter" required="required" >
            <option  class="form-input" selected value = "privé">Privé</option> 
            <option  class="form-input"  value = "public">Public</option> 
            </select>
   <br><br><br><br>
   
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13596.705628321275!2d-8.0165042!3d31.57421!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7caad036822d6af7!2sParis%20Saint%20Germain%20Academy%20Marrakech!5e0!3m2!1sfr!2sma!4v1649426671967!5m2!1sfr!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"  style="margin-left: 280px; height: 400px; border: 3px solid rgb(10, 147, 226);; padding: 15px 25px;"></iframe>
  
   <h5 style="margin-left: 20px;">Ton match ne sera pas visible dans l'onglet 
    "Rejoindre".Partages le code du match a tes amis pour qu'il puissent rejoindre</h5>   
    <button class="btn" routerLink="/nouvelle-reservation2-psg" >Continuer</button> <br><br>



</div>
 </div>            



</body>
