<!-- Top container -->
<div class="w3-bar w3-top w3-blue w3-large" style="z-index:4 ">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
<div class="w3-bar-item w3-right" id="container">
<i class="fa fa-user" style="margin-right: 30px;"></i>
<h1>{{userService.getUserDetails()?.email}}</h1>

</div>
</div>
<br>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-light-grey w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <h5 ><i class="fa fa-th-list"></i> Menu</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a routerLink="/dashboard" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-dashboard"></i>  Dashboard</a>
    <a routerLink="/list-utilisateurs" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Utilisateurs</a>
    <a routerLink="/profil" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw"></i>  Profil</a>
    <a routerLink="/reservation" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dribbble fa-fw"></i>  Réserver</a>
    <a routerLink="/rejoindre" class="w3-bar-item w3-button w3-padding"><i class="fa fa-check-circle fa-fw"></i>  Rejoindre</a>
    <a routerLink="/match" class="w3-bar-item w3-button w3-padding"><i class="fa fa-calendar fa-fw"></i>  Matchs</a>
    <a href="" class="w3-bar-item w3-button w3-padding" (click)="userService.logout()"><i class="fa fa-sign-out fa-fw"></i>  Déconnexion</a>
  </div>
</nav>
