
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-white">

<app-layout></app-layout>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class=""></i> Réservation</b></h5>
      </header>
   
      <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
          <div class="w3-container w3-white w3-padding-16">
      
            <div class="w3-clear" ></div>
            <h4>
                <img id="img" src="assets\images\Capture1.PNG"/>
              <h5 style="font-size: 15px;"> Adresse : Ouahat Sidi Brahim, Route de benrahmoune, Marrakech 4000.</h5> 
                <button class="btn" routerLink="/nouvelle-reservation-elarabibrams" >Réserver</button>
            </h4>
          </div>
        </div>

        <div class="w3-quarter">
          <div class="w3-container w3-white w3-padding-16">
          
            <div class="w3-clear"></div>
            <h4><img id="img" src="assets\images\Capture2.PNG"/>
              <h5 style="font-size: 15px;">Adresse : km 11, Route de Fes, Alouidane, Marrakesh</h5>
              <button class="btn" routerLink="/nouvelle-reservation-foot5" >Réserver</button>
            </h4>
          </div>
        </div>

        <div class="w3-quarter">
          <div class="w3-container w3-white w3-padding-16">
            <div class="w3-clear"></div>
            <h4><img id="img" src="assets\images\Capture3.PNG"/>    
              <h5 style="font-size: 16px;">Adresse : MW5V+GWW, Marrakech</h5> 
        <button class="btn"  routerLink="/nouvelle-reservation-kickoff">Réserver</button>
            </h4>
          </div>
        </div>

        <div class="w3-quarter">
          <div class="w3-container w3-white w3-padding-16">
          
            <div class="w3-clear"></div>
            <h4><img id="img" src="assets\images\Capture4.PNG"/>
           <h5 style="font-size: 13px;">Adresse : Commune d'Agafay, Route D'amzmiz Barage Lala Takerkoust, Marrakesh 40000</h5>
              <button class="btn" routerLink="/nouvelle-reservation-ledome" >Réserver</button>
            </h4>
          </div>
        </div>

        <div class="w3-quarter">
          <div class="w3-container w3-white w3-padding-16">
          
            <div class="w3-clear"></div>
            <h4><img id="img" src="assets\images\Capture5.PNG"/>
             <h5 style="font-size: 18px;">Adresse : M255+PVM, Marrakech 40000</h5>
             <button class="btn"  routerLink="/nouvelle-reservation-maracana">Réserver</button>
            </h4>
          </div>
        </div>

        <div class="w3-quarter">
          <div class="w3-container w3-white w3-padding-16">
          
            <div class="w3-clear"></div>
            <h4><img id="img" src="assets\images\Capture6.PNG"/>
              <h5 style="font-size: 18px;"> Adresse : Unnamed Road, 40160</h5>
              <button class="btn"  routerLink="/nouvelle-reservation-menaraAcademy">Réserver</button>
            </h4>
          </div>
        </div>

        <div class="w3-quarter">
          <div class="w3-container w3-white w3-padding-16">
          
            <div class="w3-clear"></div>
            <h4><img id="img" src="assets\images\Capture7.PNG"/>
              <h5 style="font-size: 18px;">Adresse : Rocade palmeraie , Marrakech 40000</h5>
              <button class="btn"  routerLink="/nouvelle-reservation-palmarean">Réserver</button>
            </h4>
          </div>
        </div>  


        <div class="w3-quarter">
          <div class="w3-container w3-white w3-padding-16">
          
            <div class="w3-clear"></div>
            <h4><img id="img" src="assets\images\Capture8.PNG"/>
              <h5 style="font-size: 18px;">Adresse : HXFM+M9Q, Marrakech</h5>
              <button class="btn" routerLink="/nouvelle-reservation-psg">Réserver</button>
            </h4>
          </div>
        </div>  

        <div class="w3-quarter">
          <div class="w3-container w3-white w3-padding-16">
          
            <div class="w3-clear"></div>
            <h4><img id="img" src="assets\images\Capture9.PNG"/>
              <h5 style="font-size: 15px;">Adresse : azli lot industriel 2eme tranche lot n°15 Près de l'usine Coca cola, Marrakech 40000</h5>
              <button class="btn"  routerLink="/nouvelle-reservation-urbain5" >Réserver</button>
            </h4>
          </div>
        </div>  

        <div class="w3-quarter">
          <div class="w3-container w3-white w3-padding-16">
          
            <div class="w3-clear"></div>
            <h4><img id="img" src="assets\images\Capture10.PNG"/>
              <h5 style="font-size: 16px;">Adresse : T/Sport - Zarktouni Mhamid - Marrakech, Marrakech 40000</h5>
              <button class="btn"  routerLink="/nouvelle-reservation-vitoria">Réserver</button>
            </h4>
          </div>
        </div>  


</div>
   
             </div>
            

</body>
