#img{
  width: 260px;
  height: 150px;
}
.btn {
  margin-top: 15px;
  margin-left: 50px;
  width: 120px;
  height: 32px;
  background:  #1077C3;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.1s ease;
  cursor: pointer;
}
