<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-white">

<app-layout></app-layout>

<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class=""></i>Rejoindre un match</b></h5>
      </header><br><br>
      <div class="form-group right">
        <label for="lastname" class="label-title"  >Match privé:</label>
        <input type="text" class="form-input" placeholder="Entrer ton code" name="entrerTonCode" required="required" id="entrerTonCode"  />
        <button class="btn">Rejoindre</button>
    </div>

    <div class="form-group right">
        <label for="lastname" class="label-title"  >Match public:</label>
        <button class="butn">créer un match</button>
    </div>

     </div>
    

</body>
