.butn {
    margin-top: 15px;
    margin-left: 660px;
    width: 120px;
    height: 32px;
    background:  #1077C3;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }