#range-label {
    width:15%;
    padding:5px;
    background-color: #1077C3;
    color:white;
    border-radius: 5px;
    font-size: 17px;
    position: relative;
    top:-8px;
   }

   .btn {
    margin-top: 15px;
    margin-left: 400px;
    width: 300px;
    height: 32px;
    background:  #1077C3;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.1s ease;
    cursor: pointer;
  }
  

